
.title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.title h2 {
  font-size: 100px;
}

.title h3 {
  font-size: 25px;
  margin-top: 25px;
  font-weight: normal;
}