
* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: white;
}

body {
  background: linear-gradient(
    rgba(0, 0, 0, 0.25),
    rgba(0, 0, 0, 0.75)),
    url(../images/background.jpg);
  background-attachment: fixed;
}

.wrapper {
  width: 80%;
  margin: 0 auto;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 0;
  border-bottom: 1px solid white;
}

.navbar h1 {
  font-style: italic;
}

.navbar ul li {
  list-style: none;
  display: inline;
  margin: 0 20px;
  position: relative;
}

.navbar ul li a {
  text-decoration: none;
  font-size: 18px;
  text-transform: uppercase;
}

.navbar ul li::after {
  content: '';
  width: 0;
  height: 2px;
  background: white;
  position: absolute;
  left: 0px;
  bottom: -10px;
  transition: 0.5s;
}

.navbar ul li:hover::after {
  width: 100%;
}